
body {
    font-family: Arial, sans-serif;
    background-color: #fff;
}


header {
    text-align: center;
    background-color: #fff;
    color: #333;
}


.sort-container {
    display: flex;
    align-items:center;
    justify-content: center;
    background-color: #d8d8d8;
    padding:10px;
    margin: 20px;
}


.sort-button {
    margin: 0 10px;
    padding: 10px;
    cursor: pointer;
    color: #3498db; /* Set text color to blue */
    border: 1px solid #3498db; /* Set border color to blue */
    background-color: #fff;
    position: relative;
}


.sort-button:hover {
    background-color: #3498db; /* Set background color to blue on hover */
    color: #fff; /* Set text color to white on hover */
}


.sort-button.selected {
    background-color: #3498db;
    color: #fff;
}
.product-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
   align-items: center;
}


.product {
    border: 1px solid #ddd;
    margin: 10px;
    padding: 15px;
    max-width: 30%;
    text-align: center;
    background-color: #fff;
}
